body{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 991px){
    body {
        background-image:url('../public/assets/game_bg.jpg');
        position: relative;
    }

    #root {
        width: 768px;
        margin:0 auto;
    }
}	