#cover{
    background-image: url('../public/assets/weather/bg.jpg');
}

.mt-0{
    margin-top: 0;
}

.rotate{
    opacity: 0;
    transition: opacity 1s ease;
}

@media screen and (max-width: 767px){
    .img-contain{
        width: 100%;
    }
}